<div class="ProductMeta">
  {%- if section.settings.show_vendor and product.vendor != blank -%}
    <h2 class="ProductMeta__Vendor Heading u-h6">
      {%- assign vendor_handle = product.vendor | handle -%}
      {%- assign collection_for_vendor = collections[vendor_handle] -%}

      {%- unless collection_for_vendor.empty? -%}
        <a href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
      {%- else -%}
        {{- product.vendor -}}
      {%- endunless -%}
    </h2>
  {%- endif -%}

  <h1 class="ProductMeta__Title Heading u-h2">
    {% assign title_words = product.title | split: ' ' %}
    {% if title_words.size >= 2 %}
    <span class="ProductMeta__Title_fr">The {{ title_words[0] }} </span> <span class="">{{ title_words[1] }} {{ title_words[2] }} {{ title_words[3] }} {{ title_words[4] }} {{ title_words[5] }}  {{ title_words[6] }}</span>
    {% else %}
     <span class="ProductMeta__Title_ls"> {{ product.title }}</span>
    {% endif %}
  </h1>

  {% if product.metafields.custom.benefit_text != blank %}
    <h3 class="product-benefit-text maison_test">{{- product.metafields.custom.benefit_text -}}</h3>
  {% endif %}

  <a href="#looxReviews">
    <div
      class="loox-rating"
      data-id="{{ product.id }}"
      data-rating="{{ product.metafields.loox.avg_rating }}"
      data-raters="{{ product.metafields.loox.num_reviews }}"
      style="margin-top:15px"></div>
  </a>
{% if product.handle == 'athlete-bundle"' %}
  <div class="qty_selector_discount_title"><span>BUNDELINHOUD</span></div>

  <div class="bundle_prodcut_description">
    <p>{{ product.description }}</p>
  </div>
  {% endif %}
  {% assign flag_offer = false %}
  {% assign flag_offer2 = false %}
  {% assign discount_offer_text = false %}

  {% for tag in product.tags %}
    {% if tag == 'offer1' %}
      {% assign flag_offer = true %}
    {% endif %}
    {% if tag == 'offer2' or tag == 'offer3' or tag == 'offer4' %}
      {% assign flag_offer2 = true %}
    {% endif %}
    {% if tag == 'BFCM_sale' %}
      {% assign discount_offer_text = true %}
    {% endif %}
  {% endfor %}

  {% if discount_offer_text %}
    <div class="ProductMeta__PriceList Heading" style="min-height: 40px">
    
      {%- if price > 0 -%}
        <span class="ProductMeta__Price Price Price--highlight maison_test Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible></span>
        <div class="ProductMeta__PriceLis_save">
          <span
            class="ProductMeta__Price Price Price--compareAt Text--subdued u-h5 compare_at_price_main notranslate ht-money"
            data-compare="{{ compare_at_price | money }}"
            data-money-convertible></span>
        </div>
        <div style="display: none;">Save <b class="sticky_product_name_percent">{{ save }}%</b></div>
      {%- else -%}
        {% assign dis_price = product.selected_or_first_available_variant.price | times: 30 | divided_by: 100 | round %}
        {% assign get_discount_price = product.selected_or_first_available_variant.price | minus: dis_price %}
  
        <span class="ProductMeta__Price Price Price--highlight maison_test Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible></span>
        <div class="ProductMeta__PriceLis_save">
            {% assign old_price = product.selected_or_first_available_variant.price %}
            {% assign new_price = get_discount_price %}
            {% assign price_difference = old_price | minus: new_price %}
            {% assign discount_percentage = price_difference | times: 100 | divided_by: old_price %}
            {% assign rounded_discount_percentage = discount_percentage | floor %}
  
              {% if rounded_discount_percentage >= 22 and rounded_discount_percentage <= 25 %}
                {% assign rounded_discount_percentage = 25 %}
              {% elsif rounded_discount_percentage >= 26 and rounded_discount_percentage <= 29 %}
                {% assign rounded_discount_percentage = 25 %}
              {% endif %}
          
        <span
          class="ProductMeta__Price Price Price--compareAt Text--subdued u-h5 compare_at_price_main notranslate ht-money"
          data-compare="{{ product.selected_or_first_available_variant.price | times: 2  }}"
          data-money-convertible></span>
        </div>
        <div style="display: none;">Besparen <b class="sticky_product_name_percent">{{ rounded_discount_percentage }}%</b></div>
    {%- endif -%}
  {% else %}
    {% if flag_offer %}
      <div class="ProductMeta__PriceList Heading">
        <span class="ProductMeta__Price Price Price--highlight maison_test Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible>{{ product.selected_or_first_available_variant.price | minus: 1000 | money }}</span>
        <div class="ProductMeta__PriceLis_save">
          {% assign old_price = product.selected_or_first_available_variant.compare_at_price %}
          {% assign new_price = product.selected_or_first_available_variant.price %}
          {% assign price_difference = old_price | minus: new_price %}
          {% assign discount_percentage = price_difference | times: 100 | divided_by: old_price %}
          {% assign rounded_discount_percentage = discount_percentage | floor %}

            {% if rounded_discount_percentage >= 22 and rounded_discount_percentage <= 25 %}
              {% assign rounded_discount_percentage = 25 %}
            {% elsif rounded_discount_percentage >= 26 and rounded_discount_percentage <= 29 %}
              {% assign rounded_discount_percentage = 25 %}
            {% endif %}
          <span
          class="ProductMeta__Price Price Price--compareAt Text--subdued u-h5 compare_at_price_main notranslate ht-money"
          data-compare="{{ product.selected_or_first_available_variant.price  }}"
          data-money-convertible><b>was</b> <p>{{ product.selected_or_first_available_variant.price | money }}</p></span>
                  <div style="display: none;">Save <b class="sticky_product_name_percent">{{ rounded_discount_percentage }}%</b></div>
        </div>
      </div>
    {% elsif flag_offer2 %}
      <div class="ProductMeta__PriceList Heading">
        <span class="ProductMeta__Price Price Price--highlight maison_test Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
      <div class="ProductMeta__PriceLis_save">
          {% assign old_price = product.selected_or_first_available_variant.compare_at_price %}
          {% assign new_price = product.selected_or_first_available_variant.price %}
          {% assign price_difference = old_price | minus: new_price %}
          {% assign discount_percentage = price_difference | times: 100 | divided_by: old_price %}
          {% assign rounded_discount_percentage = discount_percentage | floor %}

            {% if rounded_discount_percentage >= 22 and rounded_discount_percentage <= 25 %}
              {% assign rounded_discount_percentage = 25 %}
            {% elsif rounded_discount_percentage >= 26 and rounded_discount_percentage <= 29 %}
              {% assign rounded_discount_percentage = 25 %}
            {% endif %}
        
        <span
          class="ProductMeta__Price Price Price--compareAt Text--subdued u-h5 compare_at_price_main notranslate ht-money offer_two_three"
          data-compare="{{ product.selected_or_first_available_variant.price }}"
          style="display:none;"
          data-money-convertible><b>was</b> <p>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</p></span>
        <div style="display: none;">Besparen <b class="sticky_product_name_percent">{{ rounded_discount_percentage }}%</b></div>
      </div>
      </div>

    {% else %}
      <div class="ProductMeta__PriceList Heading">
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight maison_test Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
        <div class="ProductMeta__PriceLis_save">
          {% assign old_price = product.selected_or_first_available_variant.compare_at_price %}
          {% assign new_price = product.selected_or_first_available_variant.price %}
          {% assign price_difference = old_price | minus: new_price %}
          {% assign discount_percentage = price_difference | times: 100 | divided_by: old_price %}
          {% assign rounded_discount_percentage = discount_percentage | floor %}

            {% if rounded_discount_percentage >= 22 and rounded_discount_percentage <= 25 %}
              {% assign rounded_discount_percentage = 25 %}
            {% elsif rounded_discount_percentage >= 26 and rounded_discount_percentage <= 29 %}
              {% assign rounded_discount_percentage = 25 %}
            {% endif %}
            <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h5 compare_at_price_main notranslate ht-money" data-money-convertible><b>was</b><p>{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</p></span>
            <div style="display: none;">Besparen <b class="sticky_product_name_percent">{{ rounded_discount_percentage }}%</b></div>
        </div>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h3 changable_price_main notranslate ht-money" data-money-convertible>{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
        {%- endif -%}
      </div>
    {% endif %}

  {% endif %}

  {%- if show_description and section.settings.description_below_add_to_cart == false and product.description != blank -%}
    <div class="ProductMeta__Description Rte">
      {{ product.description }}
    </div>
  {%- endif -%}
</div>