<div class="made_athletes_row {% if page.handle == 'dev-about-us' %}slick_about {% endif %}">

  <div class="made_athletes_info_block">
    <div class="made_athletes_info">
      {% if section.settings.title != blank %}
        <h2 class="made_athletes_title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.cap != blank %}
        <div class="made_athletes_caption">
          {{ section.settings.cap }}
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <p class="made_athletes_text">{{ section.settings.text }}</p>
      {% endif %}
      {% if section.settings.btn != blank %}
        <a href="{{ section.settings.url }}" class="new_common_btn">
        {{ section.settings.btn }}
          <span class="new_common_btn_icon">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.6882 0.29099C13.3019 -0.0969967 12.7222 -0.0969967 12.3358 0.29099C11.9493 0.678988 11.9493 1.26097 12.3358 1.64895L16.7153 5.9815H0.966082C0.450835 6.04613 0 6.4988 0 7.01622C0 7.53352 0.450835 7.98618 0.966082 7.98618H16.7153L12.3358 12.3833C11.9493 12.7714 11.9493 13.3533 12.3358 13.7413C12.5289 13.9354 12.7866 14 13.0442 14C13.3019 14 13.5594 13.9354 13.7527 13.7413L19.7424 7.72753C19.9356 7.53352 20 7.27487 20 7.01622C20 6.75745 19.8712 6.4988 19.7424 6.3049L13.6882 0.29099Z" fill="currentColor"/>
            </svg>
          </span>
        </a>
      {% endif %}
      {% if section.settings.rate != blank %}
        <p class="made_athletes_rate">{{ section.settings.rate }}</p>
      {% endif %}
    </div>
  </div>
  <div class="made_athletes_img_block">
    <div class="made_athletes_img_slider">
      {% for block in section.blocks %}
        <div class="made_athletes_img_slide">
          {% if block.settings.img1 != blank %}
            <div class="made_athletes_img_1">
              <img src="{{ block.settings.img1 | image_url: width: 1200 }}">
            </div>
          {% endif %}
          {% if block.settings.img2 != blank %}
            <div class="made_athletes_img_2">
              <img src="{{ block.settings.img2 | image_url: width: 1200 }}">
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/athletes_bg.png?v=1693556558" class="made_athletes_img_gb">
  </div>

</div>


{% schema %}
  {
    "name": "Made Athletes",
    "class": "sw--made-athletes",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "cap",
        "label": "Caption"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      },
      {
        "type": "textarea",
        "id": "rate",
        "label": "Rating Text"
      }
    ],
    "blocks":[
      {
         "type": "image_slide",
         "name": "Image Slide",
         "settings":[
           {
             "type": "image_picker",
             "id": "img1",
             "label": "Select Image 1"
           },
           {
             "type": "image_picker",
             "id": "img2",
             "label": "Select Image 2"
           }
         ]
      }
    ],
    "presets":[
      {
        "name": "Made Athletes"        
      }
    ]
  }
{% endschema %}

<script>
  $(".dev_about .made_athletes_img_slider").slick({
     slidesToShow: 3,
     infinite:true,
     slidesToScroll: 1,
     autoplay: false,
     autoplaySpeed: 2000,
     dots: false, 
     arrows: false,     
     responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1,
            centerMode: true,
            centerPadding:'80px',
          }
        },
        {
          breakpoint: 380,
          settings: {
            slidesToShow: 1,
            centerMode: true,
            centerPadding:'40px',
          }
        }
      ]
    });
</script>